@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 90vw;
    height: 100%;
}
#main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    padding: 0 5vw;
}

#title {
    font-size: 2em;
    margin: 2vw 0;
}

#description {
    margin-bottom: 1vw;
}

#tooltip {
    position: absolute;
    text-align: left;
    max-width: 10vw;
    width: fit-content;
    height: fit-content;
    word-wrap: break-spaces;
    padding: .5vw;
    font-size: .7em;
    background-color: #F3F0C1;
    box-shadow: 1px 1px 8px 5px rgba(0,0,0,0.72);
}